:root {
        --ic-brand-primary-darkened-5: #C20000;
--ic-brand-primary-darkened-10: #B80000;
--ic-brand-primary-darkened-15: #AE0000;
--ic-brand-primary-lightened-5: #CE0C0C;
--ic-brand-primary-lightened-10: #D11919;
--ic-brand-primary-lightened-15: #D32626;
--ic-brand-button--primary-bgd-darkened-5: #C20000;
--ic-brand-button--primary-bgd-darkened-15: #AE0000;
--ic-brand-button--secondary-bgd-darkened-5: #CCCCCC;
--ic-brand-button--secondary-bgd-darkened-15: #B6B6B6;
--ic-brand-font-color-dark-lightened-15: #262626;
--ic-brand-font-color-dark-lightened-30: #4C4C4C;
--ic-link-color-darkened-10: #B80000;
--ic-link-color-lightened-10: #D11919;
--ic-brand-primary: #cc0000;
--ic-brand-font-color-dark: #000000;
--ic-link-color: #cc0000;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #d6d6d6;
--ic-brand-button--secondary-text: #cc0000;
--ic-brand-global-nav-bgd: #cc0000;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: var(--ic-link-color);
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #000000;
--ic-brand-global-nav-logo-bgd: #cc0000;
--ic-brand-header-image: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/55679/Utah-Canvas.png');
--ic-brand-mobile-global-nav-logo: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/55680/Utah_cc0000-48px.png');
--ic-brand-watermark: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/55668/Utah_Flavicon.png');
--ic-brand-watermark-opacity: 1.0;
--ic-brand-favicon: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/451785/Utah_square.png');
--ic-brand-apple-touch-icon: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/55672/Utah-U-white-180px.png');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/55673/Utah-U-white-red-558px.png');
--ic-brand-msapplication-tile-wide: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/55674/Utah-558-270.png');
--ic-brand-right-sidebar-logo: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/55675/Utah-360-140.png');
--ic-brand-Login-body-bgd-color: #cccccc;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #cccccc;
--ic-brand-Login-logo: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/55681/Utah_White-logo.png');
--ic-brand-Login-Content-bgd-color: #cc0000;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #ffffff;
--ic-brand-Login-footer-link-color: #ffffff;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #ffffff;
      }